<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the SQL Injection Flask App!</h1>
    <img src="{{ url_for('static', filename='exploits_of_a_mom.webp') }}" alt="Sanitize your inputs!">
    <p>We'll take a look at a historically typical vulnerabilty, and possible ways to avoid it:</p>
    <ul>
        <li><a href="/injection">Injection Demo</a></li>
        <li><a href="/sanitized">Sanitization Demo</a></li>
        <li><a href="/parametrized">Parametrization Demo</a></li>
        <li><a href="/alchemy">SQL Alchemy Demo</a></li>
    </ul>
</body>
</html>